<app-back-button></app-back-button>

<div class="article-container">

  <h2>{{ article?.title }}</h2>

  <div class="meta">
    <span>{{ article?.createdAt | date:'mediumDate' }}</span>
    <span>{{ article?.author }}</span>
    <span>{{ article?.topic }}</span>
  </div>

  <p class="content">{{ article?.content }}</p>

  <hr />

  <h3>Commentaires</h3>
  @if (comments.length > 0) {
    <div>
      @for (comment of comments; track comment) {
        <div class="comment">
          <div class="author">
            <p>{{ comment.author }}</p>
          </div>
          <div class="bubble">
            <p>{{ comment.content }}</p>
          </div>
        </div>
      }
    </div>
  } @else {
    <p>Aucun commentaire pour cet article.</p>
  }

  <form (ngSubmit)="sendComment()" [formGroup]="commentForm">
    <mat-form-field appearance="outline" class="comment-input">
      <textarea matInput placeholder="Écrivez ici votre commentaire" formControlName="content"></textarea>
    </mat-form-field>
    <button mat-icon-button type="submit" color="primary">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>
