.auth-mobile-logo {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    
    img {
      width: 100px;
    }
}

.back-button-container {
  margin-top: 1rem;
  margin-left: 2rem;
}
