<header class="app-header">
    <img src="/assets/logo_p6.png" alt="Logo" class="logo" />
  
    <ng-container *ngIf="!isLogoOnly()">
      <nav class="nav-links">
        <button mat-button color="warn" (click)="logout()">Se déconnecter</button>
        <a mat-button routerLink="/articles" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Articles</a>
        <a mat-button routerLink="/topics" routerLinkActive="active-link">Thèmes</a>
        <button mat-icon-button routerLink="/me" routerLinkActive="active-link">
          <mat-icon>account_circle</mat-icon>
        </button>
      </nav>
    </ng-container>
  </header>
  
  