.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid #ccc;
  background-color: white;
  height: 64px;

  .logo {
    height: 48px;
    cursor: pointer;
  }

  .menu-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      text-decoration: none;
      font-weight: 500;
      color: black;
    }

    .logout {
      background: none;
      border: none;
      color: red;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .app-header{
    .menu-toggle {
      display: block;
    }
  
    .nav-links {
      display: none;
    }
  }
}
