.password-checklist {
    list-style: none;
    padding-left: 0;
    margin-top: 0.5rem;
  
    li {
      color: #999;
      font-size: 0.95rem;
  
      &.valid {
        color: green;
        font-weight: bold;
      }
    }
  }
  
  .password-hint {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}